<% if (games.length > 0) { %>
<table class="table table-stripped table-bordered">
<tr>
<th>ID</th><th>Карта</th><th>Игроки</th><th>Ссылка</th>
</tr>
<% for (var i = 0; i < games.length; i++) { %>
<tr class="<%= games[i].finished ? 'finished' : 'active' %> <%= games[i].error ? 'error' : '' %>">
<td><%= games[i].id %></td>
<td>
<%= games[i].map %>
</td>
<td><%- games[i].players.map(function(p) {
        var pl = p.name;
        if (p.isWinner) pl = "<b>" + p.name + "</b>";
        if (p.score != undefined) pl += " (" + p.score.toFixed(2) + ")";
        return pl;
    }).join(", ") %></td>
<td>
    <% if (games[i].finished) { %>
    <a href="/<%= games[i].id %>">Посмотреть</a>
    <% } else { %>
    <span class="label">Игра идет</span>
    <% } %>
</td>
</tr>
<% } %>
</table>

<div class="pagination pagination-centered">
    <ul>
        <% for (var i = 0; i < pages.length; i++) { %>
        <li class="<%= pages[i].kls %>">
            <a href="<%= pages[i].url || 'javascript:void(0)' %>"><%= pages[i].val %></a>
        </li>
        <% }%>
    </ul>
</div>
<% } else { %>
<p class="alert alert-warning">Не было ни одной игры :(</p>
<% } %>
