<h1 data-id="<%= player.name %>">Player <%= player.name %></h1>
<table>
<tr>
<th>Game</th><th>Map</th><th>Players</th><th>Replay</th>
</tr>
<% for (var i = 0; i < player.games.length; i++) { var game = player.games[i]; %>
<tr>
<td><%= game.id %></td>
<td><%= game.brief.map %></td>
<td><%- games[i].brief.players.map(function(p) { /*TODO: copy-paste from 'games.ejs'*/
        var name = p.name;
        if (games[i].brief.winner && games[i].brief.winner.id == p.id)
            name = "<b>" + p.name + "</b>";
        return name + " (" + p.score.toFixed(2) + ")";
    }).join(", ") %></td>
<td><a href="/<%= game.id %>">See Replay</a></td>
</tr>
<% } %>
</table>
